---

---

<section class="flex justify-center items-center ">
  <a href="/pokemons/1">
    <img
      src="/pokedex-Photoroom.png"
      alt="pokedex"
      class="opacity-70 hover:opacity-100 hover:cursor-pointer">
  </a>

  <!-- <div class=" row-auto items-start justify-start">
    <button class="btn font-bold">
        <a href="/pokemons/1">Ver Pokémons</a>
    </button>
  </div> -->
</section>
