---

---

<section class="flex justify-stretch items-center ">
  <img
    src="/pokedex-Photoroom.png"
    alt="pokedex"
    class="w-10/12 h-10/12">

  <div class=" row-auto items-start justify-start">
    <button class="btn font-bold">
        <a href="/pokemons/1">Ver Pokémons</a>
    </button>
  </div>
</section>
