---
import PokemonCard from "../../components/PokemonCard.astro";
import Layout from "../../layouts/Layout.astro";
import Title from "../../shared/Title.astro";


---

<Layout title={'Favoritos'}>
    
    <Title>Favoritos</Title>
    <!-- <section
        aria-label="Favorites"
        class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:6">
            {
                page.data.map((pokemon) => (
                    <PokemonCard name={pokemon.name} url={pokemon.url}/>
                ))
            }
    </section> -->

</Layout>